<script setup> 
import {computed, onMounted, reactive, ref} from 'vue'
import { useStore } from 'vuex'
import { apiFetchQuestions } from '../api/questions'
import ListCurrentQuestion from '../components/ListCurrentQuestion.vue'
import ListCurrentAnswers from '../components/ListCurrentAnswers.vue';
import { useRouter } from 'vue-router';
import Navbar from '../components/Navbar.vue';

const router = useRouter();
const store = useStore();

const questions = computed(() => store.state.questions);
const currentQuestion = computed(() => store.state.currentQuestion);
const error = computed(() => store.state.error);
const currentAnswers = computed(() => store.state.currentAnswers);
const questionParams = computed(() => store.state.questionParams);
const isLastQuestionAnswered = computed(() => store.state.isLastQuestionAnswered);
const totalPoints = computed(() => store.state.totalPoints);

const init = async () => {
    await store.dispatch("fetchAllQuestions", questionParams.value);
    handleNextAnswers();
}

const handleNextAnswers = () => {
    store.dispatch("getCurrentAnswers", currentQuestion.value);
}
const handleNextQuestion = () => {
    store.dispatch("getNextQuestion");
}

const handleSelectAnswer = (selectedAnswer) => {
    store.dispatch("selectAnswer", selectedAnswer);
    if (currentQuestion.value.correct_answer === selectedAnswer)
    {
        store.dispatch("increasePoints");
    }
    
    if (!isLastQuestionAnswered.value) {
    handleNextQuestion();
    handleNextAnswers();
    } else {
        router.push("/result");
    }
    
    
}

onMounted(init)
</script>


<template>

<div>
    <Navbar :showScoreName="true" :showCategory="true" />
</div>

<div v-if="error">
    <p>{{ error }}</p>
</div>

<div v-if="!isLastQuestionAnswered" class="container mx-auto mt-4 p-4 max-w-3xl rounded-md overflow-hidden shadow-lg">
    <ListCurrentQuestion 
        :currentQuestion="currentQuestion"/>

    <ListCurrentAnswers 
        :currentQuestion="currentQuestion"
        :currentAnswers="currentAnswers"
        @onClickAnswer="handleSelectAnswer"/>
</div>
<div v-else>
    <!-- Route to results screen... -->
    Loading results...
</div>


</template>
