<script setup>
import { useStore } from "vuex"
import { computed, onMounted } from "vue"
import Navbar from "../components/Navbar.vue"
import ListQuestionAndAnswer from "../components/ListQuestionAndAnswer.vue";

const store = useStore();

const questions = computed(() => store.state.questions);
const selectedAnswers = computed(() => store.state.selectedAnswers);
const totalScore = computed(() => store.state.totalPoints)
const highScore = computed(() => store.state.user.highScore)

const init = async () => {
    if(totalScore.value > highScore.value) {
        await store.dispatch("updateUserDatabase", totalScore.value)
    }
}

onMounted(init)
</script>

<template class="scroll-smooth">
    <Navbar :showButtons="true" :showScoreName="true"/>

    <main class="container mx-auto px-4">
        <ListQuestionAndAnswer 
            v-for="(question, index) in questions"
            :question="question"
            :selectedAnswer="selectedAnswers[index]"
            :key="question.id"
            
            />
    </main>
</template>