<script setup>
import { useStore } from "vuex"
import { useRouter } from "vue-router"
import Navbar from "../components/Navbar.vue"
import QuestionForm from "../components/QuestionForm.vue"

const router = useRouter()


const handleStartGame = () => {
    router.push("/question")
}

</script>

<template>    
    <Navbar />
    <QuestionForm @onStartClick="handleStartGame" />   
</template>
