<script setup>
import { ref } from 'vue';
import { useStore } from 'vuex';
import { apiFindUsername } from '../api/users'

const emit = defineEmits(["onUsernameAuth"]);

const store = useStore()

const currentUsername = ref("")
const userCreated = ref(false)
const usernameFound = ref(false)
const noUsernameEntered = ref(false)

const onUsernameAcceptClick = async () => {
    if(!currentUsername.value || currentUsername.value.length == 0 ){
        noUsernameEntered.value = true
        usernameFound.value = false
        userCreated.value = false
        setTimeout(() => noUsernameEntered.value = false, 10000)
    } else {
        const [err, user] = await apiFindUsername(currentUsername.value)
        
        if (!user || user.length === 0) {
            const err = await store.dispatch("addNewUser", currentUsername.value) //TODO: dispatch to store user
            userCreated.value = true
            usernameFound.value = false
            noUsernameEntered.value = false
        } else {
            usernameFound.value = true
            userCreated.value = false
            noUsernameEntered.value = false
            const err = await store.dispatch("fetchExistingUser", currentUsername.value)
        }
        if (err !== null) {
            console.log(err);
        } else {
            emit("onUsernameAuth")
        }
    }

}
</script>

<template>
    <p>Please enter your username:</p>
    <input type="text" id="username" class="border mr-2 my-2 p-1 rounded" v-model.trim="currentUsername" placeholder="Username" required/>
    <button type="button" class="bg-blue-300 shadow-lg border p-1 border-black rounded hover:border-white hover:text-white" @click="onUsernameAcceptClick">Confirm user name</button>
    <div>
        <p v-if="usernameFound" class="bg-green-200 rounded p-1">User: "{{currentUsername}}" found </p>
        <p v-if="userCreated" class="bg-green-200 rounded p-1">Created a new user with the name: "{{currentUsername}}"</p>
        <div v-if="noUsernameEntered" class="bg-red-400 text-white rounded p-3">
            <p>Warning! No username entered. Please enter a valid username.</p>
        </div>
    </div>
</template>