<script setup>
import { reactive, ref } from 'vue';
import parseHtml from '../parse-html';

const props = defineProps(["currentQuestion"]);
const emit = defineEmits(["onNextAnswers"]);

</script>


<template>
<main class="p-2"> 
     <div> 
        <p><h2>Current category: {{ parseHtml(currentQuestion.category) }}</h2></p>
    </div>

    <div>
        <p><h2>Question: {{ parseHtml(currentQuestion.question) }}</h2></p>
    </div>

</main>
</template>