<script setup>
import parseHtml from '../parse-html';
defineProps(["question", "selectedAnswer"]);
</script>

<template>
<div class="rounded border border-slate-300 shadow-sm p-1 m-1">
    <p>Question: {{parseHtml(question.question)}} </p>
    <p>Your answer: {{parseHtml(selectedAnswer.selectedAnswer)}} </p>
    <p>Correct answer: {{parseHtml(question.correct_answer)}} </p>
</div>
</template>