<script setup>
import parseHtml from '../parse-html';
const props = defineProps(["currentQuestion", "currentAnswers"]);

const emit = defineEmits(["onClickAnswer"]);

const onClickSelectAnswer = (selectedAnswer) => {
    emit("onClickAnswer", selectedAnswer);
}
</script>

<template>
<main class="container mx-auto px-4">
    <div v-if="currentQuestion.type === 'boolean'">
        <button type="button" 
            @click="onClickSelectAnswer(currentAnswers[0])" 
            class="bg-indigo-500 hover:bg-indigo-800 text-white p-4 mx-5 my-2 rounded-lg shadow-lg"> {{parseHtml(currentAnswers[0])}} </button>
        <button type="button" 
            @click="onClickSelectAnswer(currentAnswers[1])" 
            class="bg-amber-300 hover:bg-amber-600 text-white p-4 mx-5 my-2 rounded-lg shadow-lg"> {{parseHtml(currentAnswers[1])}} </button>
    </div>

    <div v-else>
        <button type="button" 
            @click="onClickSelectAnswer(currentAnswers[0])" 
            class="bg-indigo-500 hover:bg-indigo-800 text-white p-4 mx-5 my-2 rounded-lg shadow-lg"> {{parseHtml(currentAnswers[0])}} </button>
        <button type="button" 
            @click="onClickSelectAnswer(currentAnswers[1])" 
            class="bg-amber-300 hover:bg-amber-600 text-white p-4 mx-5 my-2 rounded-lg shadow-lg"> {{parseHtml(currentAnswers[1])}} </button>
        <button type="button" 
            @click="onClickSelectAnswer(currentAnswers[2])" 
            class="bg-green-400 hover:bg-green-800 text-white p-4 mx-5 my-2 rounded-lg shadow-lg"> {{parseHtml(currentAnswers[2])}} </button>
        <button type="button" 
            @click="onClickSelectAnswer(currentAnswers[3])" 
            class="bg-red-400 hover:bg-red-800 text-white p-4 mx-5 my-2 rounded-lg shadow-lg"> {{parseHtml(currentAnswers[3])}} </button>
    </div>
</main>
</template>