<script setup>
import { computed } from "vue"
import { useRouter } from "vue-router"
import { useStore } from "vuex"

defineProps({
    showButtons: Boolean,
    showScoreName: Boolean,
    showCategory: Boolean
})

const store = useStore()
const router = useRouter()
const username = computed(() => store.state.user.username)
const totalScore = computed(() => store.state.totalPoints)
const currentCategory = computed(() => store.state.currentQuestion.category)


const onBackToStart = async () => {
    // return to start screen, but reset all values
    store.dispatch("fullGameReset")
    router.push("/")
}

const onReplay = async () => {
    // return to question page but reset score and get new questions
    store.dispatch("replayGame")
    router.push("/question")
}

</script>

<template>
    <nav class="sticky top-0 bg-blue-darkslate grid grid-cols-3 grid-rows-3 rounded shadow-sm">
        <div class="col-span-3 ml-3 mt-3">
            <h2 class="text-white text-3xl font-bold uppercase rounded-3xl overflow-hidden">Trivia Game</h2>
        </div>
        <div v-if="showScoreName" class="col-start-1 col-end-1 ml-3 mt-2">
            <label class="text-white text-lg">User: {{username}}</label>
        </div>
        <div v-if="showScoreName" class="col-start-3 col-end-3 ml-3 mt-2">
            <label class="text-white text-lg">Total Score: {{totalScore}}</label>
        </div>
        <div v-if="showCategory" class="col-start-1 col-end-1 ml-3 mt-2">
            <label class="text-white text-lg">Category: {{currentCategory}}</label>
        </div>
        <div v-if="showButtons" class="col-start-2 col-end-2 ml-36">
            <button type="button" class="bg-red-flame text-black rounded-lg shadow-lg border border-black p-1 hover:border-white hover:text-white" @click="onBackToStart" >Back to start</button>
            
        </div>
        <div v-if="showButtons" class="col-start-3 col-end-3 pb-2">
            <button type="button" class="bg-green-celadon text-black rounded-lg shadow-lg border border-black p-1 hover:border-white hover:text-white" @click="onReplay" >Replay Category</button>
        </div>
    </nav>
</template>