<script setup>
import { useStore } from "vuex"
import { ref, reactive, onMounted, computed } from "vue"
import { apiFetchCategories } from "../api/categories"
import CategoryListItem from "../components/CategoryListItem.vue"
import EnterUsername from "../components/EnterUsername.vue"
import { apiFetchSessionToken } from "../api/questions"

const store = useStore()
const emit = defineEmits(["onStartClick"])

const error = computed(() => store.state.error)
const currentCategory = ref(0)
const numberOfQuestions = ref(1)
const currentDifficulty = ref("")
const currentType = ref("")
const categories = reactive([])
const usernameEntered = ref(false)
const requestedToken = ref("")
const displayError = ref(false)

const init = async () => {
    const [err, json] = await apiFetchCategories()
    categories.push(...json)
    const [tokenErr, tokenString] = await apiFetchSessionToken()
    requestedToken.value = tokenString
}

const handleOnUsernameAuth = async () => {
    usernameEntered.value = true
}

const onStartGame = async () => {
    if (usernameEntered.value)  {
        const questionParams = {
            amount: numberOfQuestions,
            category: currentCategory,
            difficulty: currentDifficulty,
            type: currentType,
            token: requestedToken
        }
    
        const err = await store.dispatch("fetchQuestionParams", questionParams)
    
        await store.dispatch("fetchAllQuestions")
        if (error.value !== null && error.value) {
            displayError.value = true
        } else {
            emit("onStartClick")
            displayError.value = false
        }
        await store.dispatch("resetError", "")
    }
};


onMounted(init)
</script>

<template>
    <form @submit.prevent="onSubmit" class="container mx-auto mt-4 p-4 max-w-2xl rounded-md overflow-hidden shadow-lg">
        <fieldset>
            <EnterUsername @onUsernameAuth="handleOnUsernameAuth" />
        </fieldset>
        <fieldset class="p-1">
            <label for="questionNumber" class="mr-2">Number of questions:</label>
            <input type="number" v-model.number="numberOfQuestions" class="border rounded shadow-sm p-1" name="questionNumber" placeholder="e.g 10" min="1" max="50">
        </fieldset>

        <fieldset class="p-1">
            <label for="category" class="mr-2">Select Category:</label>
            <select v-model.number="currentCategory" class="border rounded shadow-sm p-1" name="category">
                <option :value="0">Any Category</option>
                <CategoryListItem v-for="category in categories" :category="category" :key="category.id"/>
            </select>
        </fieldset>

        <fieldset class="p-1">
            <label for="difficulty" class="mr-2">Select difficulty:</label>
            <select name="difficulty" class="border rounded shadow-sm p-1" v-model="currentDifficulty">
                <option value="">Any Difficulty</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </fieldset>

        <fieldset class="p-1">
            <label for="type" class="mr-2">Select Question Type:</label>
            <select name="type" class="border rounded shadow-sm p-1" v-model="currentType">
                <option value="">Any Type</option>
                <option value="Multiple Choice">Multiple Choice</option>
                <option value="True / False">True / False</option>
            </select>
        </fieldset>

        <div class="p-1">
            <button v-if="usernameEntered" @click="onStartGame" class="bg-teal-400 border border-black rounded shadow-lg p-1 hover:border-white hover:text-white" type="button" >Start Game</button>
        </div>
        <div v-if="!usernameEntered" class="bg-yellow-400 text-white m-1 p-2 rounded">
            <p>Warning! No username entered. Please enter a valid username.</p>
        </div>
        <div v-if="displayError" class="bg-red-400 text-white m-1 p-2 rounded">
            <p>Warning! Not enough questions with the current settings.</p>
        </div>
    </form>

</template>